{% extends 'base.html' %}

{% block title %}
Assos page
{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste Donnée !</h1>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>RNA ID</th>
                <th>RNA ID EX</th>
                <th>Gestion</th>
                <th>Objet</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.rna_id }}</td>
                <td>{{ data.rna_id_ex }}</td>
                <td>{{ data.gestion }}</td>
                <td>{{ data.objet }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}