<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <!-- CSS Bootstrap CDN Link -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
    <a href="{{url_for('home')}}"><button class="nav-link">Home</button> </a>
    <a href="{{url_for('about')}}"><button class="nav-link">About</button> </a>
    <a href="{{url_for('hello')}}"><button class="nav-link">Hello</button> </a>
    <a href="{{url_for('assos')}}"><button class="nav-link">Assos</button> </a>
    <a href="{{url_for('create_assos')}}"><button class="nav-link">Create_assos</button> </a>
</nav>

<!-- JS, Popper.js, and jQuery -->
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.js')}}"></script>
<script src="{{ url_for('static', filename='jS/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap5.js')}}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js')}}"></script>



{% block body %}

{% endblock %}

</body>
</html>
